@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  /*border: 1px solid red;*/
}

/*****************************************Header*************************************************/
header {
  margin-left: -8px;
  margin-right: -8px;
}
header .logoOMF {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
}
header .location {
  /*Je trouve pas comment gérer le boxshadow ou le fait de passer la div par dessus*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #EAEAEA;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
}

/*****************************************Title*****************************************************/
h1 {
  text-align: center;
} 
.decouvrez {
  margin-left: -8px;
  margin-right: -8px;
  padding: 8px;
  text-align: center;
  background-color: #EAEAEA;
}

.decouvrez-text {
  text-align: center;
}

.explore_button {
  display: block;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

.button_txt {
  color: white;
}

/*****************************************Fonctionnement********************************************/
.fonctionnement {
  margin-left: -8px;
  margin-right: -8px;
  padding: 8px;
}

.fonctionnement_card {
  height: 72px;
  display: flex;
  background-color: #EAEAEA;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  margin-bottom: 30px;
}
.fonctionnement_card .border_num {
  background-color: #9356DC;
  border-radius: 50px;
}
.fonctionnement_card .num {
  /*j'arrive pas a remplir le rond autour des numéros*/
  border: 1px solid black;
  border-radius: 50px;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/*****************************************Restaurants***********************************************/
img {
  width: 100%;
}

.restaurants {
  margin-left: -8px;
  margin-right: -8px;
  padding: 8px;
  background-color: #EAEAEA;
}
.restaurants .restaurant {
  background-color: white;
  border-radius: 20px;
  height: 251px;
  margin-bottom: 30px;
}
.restaurants .r_img {
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants .new {
  position: absolute;
  padding: 10px;
}
.restaurants .r_card_text {
  padding: 10px;
}
.restaurants .restaurant_h3 {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.restaurants .restaurant_p {
  margin: 0;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 300;
}

/******************************************Footer****************************************************/
footer {
  margin-left: -8px;
  margin-right: -8px;
  padding: 8px;
  background-color: #353535;
  height: 186px;
  color: white;
  padding: 20px;
}
footer .logo_txt {
  width: 133px;
  height: 27px;
  color: white;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 15px;
}
footer .footer_links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .proposer_restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
footer .partenaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
footer .fa-solid {
  color: white;
}
footer .footer_p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */