@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

* {
  font-family: "Roboto", sans-serif;
  // border: 1px solid red;
}

/*****************************************Header*************************************************/
header {
  display: flex;
  flex-direction: column;
  .logoOMF {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1); /*box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 10px 0px;*/
  }
  h1 {
    justify-content: center;
    font-family: "Shrikhand";
    font-size: 30px;
    font-weight: 300;
    margin: 0;
  }
  .location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #eaeaea;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3); /*box-shadow: rgba(100, 100, 111, 1) 0px 2px 10px 0px;*/
  }
}

body {
  margin: 0;
}

.loading {                             /*********************LOADER***********************************/
  animation: hideLoader 1.5s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(55, 52, 52);
  z-index: 9999;
}

.loader {
  border: 16px solid #fefdfd;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

/*****************************************Découvrez*****************************************************/

.decouvrez {
  padding: 10px 15px 30px 15px;
  text-align: center;
  background-color: #eaeaea;
  h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 30px 30px 10px;
    text-align: center;
  }
  .decouvrez-text {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
  }
  .explore_button {
    display: flex;
    justify-content: center;
    align-items: center;
    ._explore_button {
      border: none;
      border-radius: 40px;
      background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
      padding: 15px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 500;
      .button_txt {
        font-size: 16px;
        font-weight: 500;
        padding: 10px;
        color: white;
      }
    }
    ._explore_button:hover {
      transform: scale(1.05);  
    }
  }
}

/*****************************************Fonctionnement********************************************/
.fonctionnement {
  padding: 20px 20px 50px 30px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  .fonctionnement-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
  } 
  .fonctionnement-container {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
    background-color: #f3f3f3;
    border-radius: 20px;
    height: 72px;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    align-items: center;
  }
  .fonctionnement-container .fa-solid {
    color: #787878;
    font-size: 25px;
  }
  .fonctionnement-container .fa-store {
    color: #9356dc;
  }
  .number-icon {
    background: #9356dc;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-left: -4rem;
    left: 0;
    border-radius: 50%;
    font-style: normal;
  }
  h3 {
    font-size: 4vw;
  }
  .fonctionnement-element {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-left: 2rem;
  }
}

/*****************************************Restaurants***********************************************/
img {
  width: 100%;
}

.restaurants {
  padding: 8px;
  background-color: #f6f6f6;
  padding: 20px 20px 50px 20px;
  .restaurants_cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .restaurant {
    position: relative;
    background-color: white;
    border-radius: 20px;
    height: 251px;
  }
  .r_img {
    object-fit: cover;
    object-position: 50% 58%;
    display: block;
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .new {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99e2d0;
    padding: 10px;
    border-radius: 10px;
    p {
      margin: 0;
      color: #008766;
    }
  }
  .card_content {
    display: flex;
    justify-content: space-between;
    .r_card_text {
      padding: 10px;
      width: 70%;
    }
    .heart {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      position: absolute;
      right: 15px;
      cursor: pointer;
      i {
        font-size: 25px;
        -webkit-text-stroke: 1px white; /* Ajoute une bordure blanche pour diminuer l'épaisseur du border de l'icône */
      }
    }

    .toggle_checkbox input[type="checkbox"] {
      display: none;
    }

    .heart_empty {
      position :absolute;
      stroke-width: 1px;
      right: 15px;
    }

    .heart_full
    {
      display: inline-block;
      position: absolute;
      right: 15px;
      scale: 0;
      transition: scale 0.15s linear;
      transform-origin: bottom;
    }
    
    .toggle_checkbox input[type="checkbox"]:checked ~ .heart_full
    {
      scale: 1;
      transition: scale 0.3s cubic-bezier(.36,1.59,0,1.28);
    }
    
    .fa-heart.fa-solid:before {
      background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
      background-clip: text;
      color: transparent;
    }
  }

  .restaurant_h3 {
    padding-left: 5px;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  .restaurant_p {
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 17px;
    font-weight: 300;
  }
}

/******************************************Footer****************************************************/
footer {
  padding: 8px;
  background-color: $black;
  color: white;
  padding: 20px;
  .logo_txt {
    width: 133px;
    height: 27px;
    color: white;
    font-family: "Shrikhand";
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 15px;
  }
  .footer_links {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .proposer_restaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .partenaire {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .fa-solid {
    color: white;
  }
  .contact-link {
    color: white;
    text-decoration: none;
  }
  .footer_p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
}

/******************************************************************************************************************************RestaurantsPage************************************************/

.navbar {
  display: flex;
  flex-direction: row;
  height: 63px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
  .arrow {
    color: black;
  }
  .logoOMF {
    box-shadow: none;
  }
  h1 {
    font-family: "Shrikhand", sans-serif;
  }
}

.IMG_OMF {
  background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  width: 100%;
  height: 275px;
  background-size: cover;
}
.palette {
  background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.note {
  background-image: url("../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.française {
  background-image: url("../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.delice {
  background-image: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.restaurantsMenu {
  position: relative;
  margin-top: -50px;
  background-color: #f6f6f6;
  padding: 23px 13px 13px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  .titleAndHeart {
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;

    .title_restaurants {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 28px;
        font-weight: 400;
        font-family: "Shrikhand", sans-serif;
        margin: 0;
      }
    }
  }

  .heart {
    display: flex;
    justify-content: center;
    right: 45px;
    top: 40px;
    i {
      font-size: 25px;
      -webkit-text-stroke: 1px white; /* Ajoute une bordure blanche pour diminuer l'épaisseur du border de l'icône */
    }
  }

  .toggle_checkbox input[type="checkbox"] {
    display: none;
  }

  .heart_empty {
    position :absolute;
    stroke-width: 1px;
    top: 27%;
  }

  .heart_full
  {
    display: inline-block;
    position: absolute;
    top: 27%;
    scale: 0;
    transition: scale 0.15s linear;
    transform-origin: bottom;
  }
  
  .toggle_checkbox input[type="checkbox"]:checked ~ .heart_full
  {
    scale: 1;
    transition: scale 0.3s cubic-bezier(.36,1.59,0,1.28);
  }
  
  .fa-heart.fa-solid:before {
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    background-clip: text;
    color: transparent;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .entree {
    animation: slideIn 0.5s ease-in-out forwards 0.2s;
  }

  .plat {
    animation: slideIn 0.5s ease-in-out forwards 0.4s;
  }

  .dessert {
    animation: slideIn 0.5s ease-in-out forwards 0.6s;
  }
  
  ._menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: translateY(50px);
    opacity: 0;
    ._menu-title {
      border-bottom: 2px solid #99E2D0;
      width: 10%;
      h2 {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 5px;
      }
    }
    ._menu-cards {
      display: flex;
      flex-direction: column;
      gap: 12px;
      ._menu-card {
        height: 72px;
        display: flex;
        background-color: white;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        border-radius: 20px;
        position: relative;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
        width: 100%;
        .text_Menu {
          display: flex;
          box-sizing: border-box;
          flex-direction: column;
          text-align: start;
          padding: 10px 15px 10px 10px;
          transition: width 0.5s ease-in-out;
          gap: 5px;
          width: 90%;
          .p1 {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            padding: 5px;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .p2 {
            margin: 0;
            font-size: 15px;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .euro {
          height: 100%;
          display: flex;
          flex-direction: row;
          width: 10%;
        }
        span {
          align-self: flex-end;
          margin: 0 !important;
          font-size: 15px;
          font-weight: 700;
          padding-right: 10px;
          padding-bottom: 15px;
        }
      }
    }
  }
}
.check {
  width: 0;
  height: 72px;
  box-sizing: border-box;
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease-in-out, opacity 0.3s ease-in-out;
  transform-origin: right;
 i {
    color: white;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
  }
}

._menu-card:hover {
  .check {
    width: 10%;  /* La barre verte s'étend progressivement */
    opacity: 1;
  }
  .text_Menu {
    width: 80% !important;
  }
}


.orderSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0 20px 0;
  .order_button {
    margin: 0;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 40px;
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  }
  .button_txt {
    color: white;
    font-size: 16px;
    font-weight: 500;
  }

  .order_button:hover {
    transform: scale(1.05);
  }
}
/***************************************************************************************************************PC*******************************************/
@media screen and (min-width: 768px) {
  
  
  .logoOMF {
    text-align: center;
    box-shadow: none;
  }
  .location {
    box-shadow: none;
  }

  .decouvrez {
    background-color: #f6f6f6;
    h1 {
      font-size: 3rem;
    }
  }
  /**************************************************************FonctionnementPC*/
  .fonctionnement {
    display: flex;
    justify-content: center;
    padding: 20px 15%;
    h2 {
      padding: 0 20px;
    }
    .fonctionnement-all {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }
    .fonctionnement-container {
      width: 18vw;
    }
    .fonctionnement .number-icon {
      position: relative;
      left: 0rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  /***************************************************************RestaurantsPC*/
  .restaurants {
    display: flex;
    padding: 0 11%;
    flex-direction: column;
    justify-content: center;
    .restaurants_title {
      display: flex;
      padding: 30px 90px;
      margin: 0;
    }
    .restaurants_cards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 30px;
      justify-content: space-evenly;
      margin-bottom: 30px;
      .restaurant {
        position: relative;
        width: 490px;
        background-color: white;
        border-radius: 20px;
        height: 251px;
        margin: 0;
      }
    }
  }
  /**********************************************************************************************************PageRestaurantPC**********************************************/
  .IMG_OMF {
    width: 100%;
    height: 383px;
    background-size: cover;
    background-position-y: center;
  }
  .palette {
    background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  }
  .note {
    background-image: url("../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  }
  .française {
    background-image: url("../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
  .delice {
    background-image: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }


  .restaurantsMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: -30px;
    position: relative;
    background-color: #f6f6f6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    max-width: 1055px;
    .Menu_section {
      max-width: 634px;
      width: 100%;
    }
    .text_Menu {
      display: flex;
      flex-direction: column;
      width: 97%;
      position: relative;
      .entrees_price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h5 {
          margin: 0;
        }
        .check {
          display: none;
        }
      }
    }
  }
  .orderSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0 20px 0;
    width: 100%;
    .order_button {
      margin: 0;
      width: 30%;
      justify-content: center;
      align-items: center;
      display: flex;
      border: none;
      border-radius: 40px;
      background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
      padding: 15px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
      
    }
    .button_txt {
      color: white;
      font-size: 16px;
      font-weight: 500;
    }
  }
  footer {
    height: 114px;
    display: flex;
    justify-content: end;
    align-items: end;
    .footer-content {
      display: flex;
      flex-direction: row-reverse;
    }
    .logo_txt {
      padding: 0 20px;
      text-align: end;
    }
    .footer_links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;
      .footer_logo {
        margin: 0;
      }
      .mentions {
        padding-left: 30px;
      }
    }
  }
}
// .footer_links div {
//   display: flex;
//   align-items: center;
// }
